:root {
    --base-font-size: 1rem;
    --medium-font-size: 1.125rem;
    --large-font-size: 3rem;
    --primary-color: #fff;
    --font-color: #333333;
    --description-color: rgb(136, 136, 136);
    --medium-two-font-size: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* navigation section styles start  */
header {
    width: 100%;
    height: auto;
}

nav {
    width: 77%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 45px 10px;
}

nav ul {
    list-style: none;
    padding: 20px;
    gap: 34px;
}

nav ul li a {
    font-size: var(--base-font-size);
    text-decoration: none;
    color: var(--font-color);

}

/* navigation section styles end */

/* shared styles start */
.display-flex {
    display: flex;
    align-items: center;
}

.primary-btn {
    border: 0;
    outline: 0;
    border-radius: 50px;
    background: rgb(255, 58, 68);
    padding: 13px 24px;
    color: var(--primary-color);
    font-size: var(--base-font-size);
    cursor: pointer;
}

/* shared styles end */

/* banner-content styles start */
.banner-container {
    width: 77%;
    margin: 0 auto;
    padding-top: 6.25rem;
    justify-content: space-between;
    margin-bottom: 170px;
}

.banner-content-text {
    max-width: 520px;
    height: auto;
    padding: 1.2rem;
}

.banner-content-text .banner-content-text-title {
    color: rgb(34, 34, 34);
    font-size: var(--large-font-size);
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
}

.banner-content-text p {
    font-size: var(--base-font-size);
    color: var(--description-color);
    margin: 15px 0;
}

.banner-parent-image {
    position: relative;
    z-index: 2;
}

.banner-content-image-position .first-img,
.second-img,
.items-positing-img img {
    position: absolute;
    transform: translate(-50%, -50%);
    /* z-index: 1; */
}

.first-img {
    left: 90%;
    top: 29%;
    z-index: 1;
}

.second-img {
    left: 58%;
    top: 61%;
    z-index: 1;
}

/* banner-content styles end */

/* main section styles start */
main {
    width: 100%;
    background-image: url('../asstes/Vector.png');
    height: auto;
}

/* main section styles end */

/* items section styles start */
.item-container {
    width: 77%;
    margin: 0 auto;
    padding-top: 6.5rem;
}

.item-content-item- {
    gap: 2.125rem;
    justify-content: center;
    margin-top: 2rem;
}

.items img {
    width: 80px;
}

.items {
    max-width: 300px;
    height: 390px;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    z-index: 2;
}

.items p {
    font-size: var(--description-color);
    color: var(--primary-color);
}

.items h3 {
    color: var(--primary-color);
    font-size: var(--medium-font-size);
}

#first-items-bg {
    background: rgb(255, 58, 68);
}

#second-items-bg {
    background-color: #FFBD2F;
}

#third-items-bg {
    background-color: #0489CA;
}

.items-fr {
    left: 73%;
    top: 130%;
    z-index: 1;
}

.items-sc {
    left: 26%;
    top: 130%;
    z-index: 1;
}

.item-content-text>p {
    color: #D8D8D8;
    font-size: var(--base-font-size);
}

.item-content-text>h3 {
    font-size: var(--medium-two-font-size);
    font-weight: 700;
    text-transform: capitalize;
    line-height: 48px;
    margin-bottom: 0.75rem;
}

.item-content-text {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    color: var(--primary-color);
}

/* items section styles end */

/* work section styles start */
.work-container {
    width: 77%;
    margin: 0 auto;
    margin-top: 5rem;
}

.work-content-text h3 {
    font-size: 2.45rem;
    color: var(--primary-color);
    width: 634px;
    text-align: center;
    margin: 0 auto;
    text-transform: capitalize;
    margin-bottom: 3rem;
}
.sub-content-text span{
    color: #FFBD2F;
    font-size: var(--medium-two-font-size);
    font-weight: 700;
}
.sub-content-text {
    width: 350px;
    height: auto;
    gap: 20px;
}
.sub-display{
    flex-direction: column;
}
.work-content-text-sub{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
    justify-items: center;
}
.sub-display p{
    color: #D8D8D8;
    font-size: var(--base-font-size);
    margin-top: 0.5rem;
}
.sub-display h3{
    color: var(--primary-color);
    font-size: var(--medium-font-size);
}
/* work section styles end */