:root {
    --base-font-size: 1rem;
    --medium-font-size: 1.125rem;
    --large-font-size: 3rem;
    --primary-color: #fff;
    --font-color: #333333;
    --description-color: rgb(136, 136, 136);
    --medium-two-font-size: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* navigation section styles start  */
header {
    width: 100%;
    height: auto;
}

nav {
    width: 77%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 45px 10px;
}

nav ul {
    list-style: none;
    padding: 20px;
    gap: 34px;
}

nav ul li a {
    font-size: var(--base-font-size);
    text-decoration: none;
    color: var(--font-color);

}

/* navigation section styles end */

/* shared styles start */
.display-flex {
    display: flex;
    align-items: center;
}

.primary-btn {
    border: 0;
    outline: 0;
    border-radius: 50px;
    background: rgb(255, 58, 68);
    padding: 13px 24px;
    color: var(--primary-color);
    font-size: var(--base-font-size);
    cursor: pointer;
}

/* shared styles end */

/* banner-content styles start */
.banner-container {
    width: 77%;
    margin: 0 auto;
    padding-top: 6.25rem;
    justify-content: space-between;
    margin-bottom: 170px;
}

.banner-content-text {
    max-width: 520px;
    height: auto;
    padding: 1.2rem;
}

.banner-content-text .banner-content-text-title {
    color: rgb(34, 34, 34);
    font-size: var(--large-font-size);
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
}

.banner-content-text p {
    font-size: var(--base-font-size);
    color: var(--description-color);
    margin: 15px 0;
}

.banner-parent-image {
    position: relative;
    z-index: 2;
}

.banner-content-image-position .first-img,
.second-img,
.items-positing-img img {
    position: absolute;
    transform: translate(-50%, -50%);
    /* z-index: 1; */
}

.first-img {
    left: 90%;
    top: 34%;
    z-index: 1;
}

.second-img {
    left: 58%;
    top: 61%;
    z-index: 1;
}

/* banner-content styles end */

/* main section styles start */
main {
    width: 100%;
    background-image: url('../asstes/Vector.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

/* main section styles end */

/* items section styles start */
.item-container {
    width: 77%;
    margin: 0 auto;
    padding-top: 6.5rem;
}

.item-content-item- {
    gap: 2.125rem;
    justify-content: center;
    margin-top: 2rem;
}

.items img {
    width: 80px;
}

.items {
    max-width: 300px;
    height: 390px;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    z-index: 2;
}

.items p {
    font-size: var(--description-color);
    color: var(--primary-color);
}

.items h3 {
    color: var(--primary-color);
    font-size: var(--medium-font-size);
}

#first-items-bg {
    background: rgb(255, 58, 68);
}

#second-items-bg {
    background-color: #FFBD2F;
}

#third-items-bg {
    background-color: #0489CA;
}

.items-fr {
    left: 73%;
    top: 130%;
    z-index: 1;
}

.items-sc {
    left: 26%;
    top: 130%;
    z-index: 1;
}

.item-content-text>p {
    color: #D8D8D8;
    font-size: var(--base-font-size);
}

.item-content-text>h3 {
    font-size: var(--medium-two-font-size);
    font-weight: 700;
    text-transform: capitalize;
    line-height: 48px;
    margin-bottom: 0.75rem;
}

.item-content-text {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    color: var(--primary-color);
}

/* items section styles end */

/* work section styles start */
.work-container {
    width: 77%;
    margin: 0 auto;
    margin-top: 6.5rem;
}

.work-content-text h3 {
    font-size: 2.45rem;
    color: var(--primary-color);
    width: 634px;
    text-align: center;
    margin: 0 auto;
    text-transform: capitalize;
    margin-bottom: 3rem;
}

.sub-content-text span {
    color: #FFBD2F;
    font-size: var(--medium-two-font-size);
    font-weight: 700;
}

.sub-content-text {
    width: 350px;
    height: auto;
    gap: 20px;
}

.sub-display {
    flex-direction: column;
}

.work-content-text-sub {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
    justify-items: center;
}

.sub-display p {
    color: #D8D8D8;
    font-size: var(--base-font-size);
    margin-top: 0.5rem;
}

.sub-display h3 {
    color: var(--primary-color);
    font-size: var(--medium-font-size);
}

/* work section styles end */

/* dash-board-container styles start */
.dash-board-container {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 6.5rem;
}

.dash-sub-content p {
    padding-left: 2.25rem;
    color: #D0D0D0;
    font-size: var(--base-font-size);
    line-height: 25px;
}

.dash-sub-content {
    width: 450px;
    border-radius: 16px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
    background: rgb(12, 95, 121);
    padding: 25px;
}

.dash-content {
    flex-direction: column;
    gap: 45px;
    padding: 80px;
}

.dash-nm {
    gap: 8px;
    align-items: center;
}

.dash-nm span {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    color: var(--primary-color);
    background-color: #0489CA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-nm h3 {
    font-size: var(--medium-font-size);
    color: var(--primary-color);
}

#span-dash-color {
    background-color: #FFBD2F;
}

#span-dash-sc-color {
    background: rgb(255, 58, 68);
}

/* dash-board-container styles end */

/* self-container  start */
.self-contnainer {
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 6.5rem;
}

.self-contant-text {
    width: 482px;
}

.self-contant-text h3 {
    color: var(--primary-color);
    font-size: var(--medium-font-size);
    margin-bottom: 1rem;
}

.self-contant-text p {
    color: rgb(198, 198, 198);
    font-size: var(--medium-font-size);
    line-height: 2rem;
    margin-bottom: 24px;
}

.self-contant-text span {
    color: #C6C6C6;
}

/* self-container  end */

/*  contact section start*/
.contact-container {
    border-radius: 45px;
    background: rgb(12, 95, 121);
    width: 80%;
    margin: 0 auto;
    height: 350px;
    justify-content: space-between;
    padding: 6.5rem;
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
}
.content-text h3{
    font-size: var(--large-font-size);
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.content-text{
    width: 630px;
    height: auto;
}
.content-text-two p{
    width: 400px;
    color: var(--primary-color);
    font-size: var(--medium-font-size);
}
/*  contact section end*/

/* hr start */
.hr{
    border: 1px solid rgb(25, 103, 129);
    margin: 4rem 0;
}
/* hr end */

/* footer section styles start */
.footer-container{
    width: 80%;
    margin: 0 auto;
    padding: 1.25rem;
    justify-content: space-between;
    align-items: normal;
}
.footer-content i{
    /* width: 45px; */
    color: var(--primary-color);
    font-size: var(--medium-two-font-size);
    cursor: pointer;
}
.footer-content{
    width: 300px;
}
.sm-cnt{
    gap: 25px;
    margin-top: 14px;
}
.footer-content h3{
    font-size: var(--medium-font-size);
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-weight: 600;
}
.footer-content p , .text-align-center{
    font-size: var(--medium-font-size);
    color: var(--primary-color);
}
.text-align-center{
    text-align: center;
    padding-bottom: 3rem;
    color: #E6E6E6;
}
.footer-content ul li{
    list-style: none;
    font-size: var(--medium-font-size);
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    cursor: pointer;
}
/* footer section styles end */


.hide{
    display: none;
    cursor: pointer;
}